body {
      background: rgba(0, 0, 0, 0.3);
    }

    .wrapper {
      max-width: 645px;
      background: white;
      margin: 10% auto;
      box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
      border-top: solid 6px #fad312;
      padding: 64px 32px;

    }

    .apply-form__title {
      margin: 0;
      font-size: 36px;
      font-weight: bold;
    }

    .apply-form__desc {
      margin-top: 32px;
      font-size: 14px;
      line-height: 1.5em;
    }

    .apply-form__notice {
      color: #e74149;
      font-size: 16px;
      margin-top: 20px;
    }

    .input-block {
      margin-top: 55px;
    }

    .input-block__title {
      font-size: 20px;
    }

    .input-block__input {
      margin-top: 20px;
    }

    .required:after {
      content: "*";
      color: #e74149;
    }

    .input-block__input input[type=text] {
      border: solid 1px #d0d0d0;
      font-size: 16px;
      padding: 8px;
    }

    .input-block__input label {
      display: block;
      margin-top: 12px;
      font-size: 14px;
    }

    .input-block__desc {
      font-size: 14px;
      margin-top: 8px;
    }

    .button {
      width: 92px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: 48px;
      display: inline-block;
      border-radius: 3px;
      cursor: pointer;
      background-color: #fad312;
    }

    .apply-form__note {
      font-size: 14px;
    }

    footer {
      background: black;
      color: #999999;
      font-size: 13px;
      text-align: center;
      padding: 24px 12px;
    }

    @media(max-width:768px) {
      .apply-form__title {
        margin: 0px 1px 0px 1px;
      }
    }

